@model EEE.Models.ProblemModel

<h3>Engel Dedektifliği 5N1K Kayıt Formu</h3>

<div class="row col-lg-6">
    <form action="/problem/new" method="post" id="frmProblem">

        <div class="input-group input-group-lg">
            <span class="input-group-addon mylabel">Ne</span>
            <input type="text" class="form-control" name="what" id="what" value="@Model.What" />
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon mylabel">Ne Zaman</span>
            <input type="text" class="form-control" name="when" id="when" value="@Model.When" data-date-format="dd-mm-yyyy" />
        </div>


        <div class="input-group input-group-lg">
            <span class="input-group-addon mylabel">Nerede</span>
            <select name="where" id="where" class="form-control">
                <option value="Adalar">Adalar</option>
                <option value="Arnavutköy">Arnavutköy</option>
                <option value="Ataşehir">Ataşehir</option>
                <option value="Avcılar">Avcılar</option>
                <option value="Bağcılar">Bağcılar</option>
                <option value="Bahçelievler">Bahçelievler</option>
                <option value="Bakırköy">Bakırköy</option>
                <option value="Başakşehir">Başakşehir</option>
                <option value="Bayrampaşa">Bayrampaşa</option>
                <option value="Beşiktaş">Beşiktaş</option>
                <option value="Beykoz">Beykoz</option>
                <option value="Beylikdüzü">Beylikdüzü</option>
                <option value="Beyoğlu">Beyoğlu</option>
                <option value="Büyükçekmece">Büyükçekmece</option>
                <option value="Çatalca">Çatalca</option>
                <option value="Çekmeköy">Çekmeköy</option>
                <option value="Esenler">Esenler</option>
                <option value="Esenyurt">Esenyurt</option>
                <option value="Eyüp">Eyüp</option>
                <option value="Fatih">Fatih</option>
                <option value="Gaziosmanpaşa">Gaziosmanpaşa</option>
                <option value="Güngören">Güngören</option>
                <option value="Kadıköy">Kadıköy</option>
                <option value="Kağıthane">Kağıthane</option>
                <option value="Kartal">Kartal</option>
                <option value="Küçükçekmece">Küçükçekmece</option>
                <option value="Maltepe">Maltepe</option>
                <option value="Pendik">Pendik</option>
                <option value="Sancaktepe">Sancaktepe</option>
                <option value="Sarıyer">Sarıyer</option>
                <option value="Silivri">Silivri</option>
                <option value="Sultanbeyli">Sultanbeyli</option>
                <option value="Sultangazi">Sultangazi</option>
                <option value="Şile">Şile</option>
                <option value="Şişli">Şişli</option>
                <option value="Tuzla">Tuzla</option>
                <option value="Ümraniye">Ümraniye</option>
                <option value="Üsküdar">Üsküdar</option>
                <option value="Zeytinburnu">Zeytinburnu</option>


            </select>
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon mylabel">Neden</span>
            <select name="why" id="why" class="form-control">
                <option value="Erişilebilir bir düzenleme yok">Erişilebilir bir düzenleme yok</option>
                <option value="Standart dışı erişilebilirlik düzenlemesi">Standart dışı erişilebilirlik düzenlemesi</option>
                <option value="Bozuk/çalıştırılmayan erişilebilirlik düzenlemesi">Bozuk/çalıştırılmayan erişilebilirlik düzenlemesi</option>
            </select>
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon mylabel">Nasıl</span>
            <textarea style="height: 150px; width: 415px;" class="form-control" name="how" id="how">@Model.Why</textarea>
        </div>

        <div style="padding:5px;">* Tespit ettiğiniz engel ile ilgili, her hangi bir sosyal medya ortamına yüklenmiş video kaydınız varsa linkini <strong>"Nasıl"</strong> kutucuğuna yapıştırabilirsiniz</div>

        @Html.AntiForgeryToken()

        <div class="row" style="text-align: left;margin-left: 5px;margin-top: 10px;">
            <input type="submit" value="Kaydet" class="btn btn-primary btn-lg" />
        </div>

        <div class="error">
            @Model.Msg
        </div>
    </form>
</div>


@section script
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(function () {

            $('#when').datepicker();

            $("form").validate({
                rules: {
                    what: "required",
                    when: "required",
                    where: "required",
                    why: "required",
                    how: "required"
                },
                messages: {
                    what: "*",
                    when: "*",
                    where: "*",
                    why: "*",
                    how: "*"
                }
            });
        });
    </script>
}
